main
{
	display : flex;
	flex-flow : row wrap;
}

.maxDim
{
	min-height : 150px;
	min-width : 150px;
}

.innersection {
  margin: 10px;
  background-color: white;
  box-shadow: 2px 3px 3px 2px rgba(3, 46, 92, 0.2);
  border-color: lightgrey;
  border-width: 1px;
  border-style: solid;
  transition-duration: 2s;
  -webkit-transition-duration: 2s;
  min-height : 150px;
	min-width : 150px;
}

.innersection:hover {
  box-shadow: 2px 3px 3px 2px rgba(3, 46, 92, 0.7);
  border-color: grey;
}

#block1
{

	flex-basis : 33.33%;
}

#block2
{

	flex-basis : 33.33%;
}

#block3
{

	flex-basis : 33.33%;
}

#block4
{

	flex-basis : 33.33%;
}

#block5
{

	flex-basis : 33.33%;
}

@media (max-width : 800px)
{
	#block1{
		flex-basis : 50%;
	}
	#block2, #block3, #block4, #block5{
		flex-basis : 50%;
	}
}

@media (max-width : 600px)
{
	#block1,#block2,#block3,#block4,#block5
	{
		flex-basis : 100%;
	}
}
